.messageAnim {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1c1d3a;
  z-index: 9999
}

.messageAnim>h3 {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 100px;
  font-weight: 600;

}

.messageAnim>h2 {
  color: #fff;
  text-align: center;
  padding-top: 0rem;
  padding-left: 14rem;
  font-weight: 200;

}

.messageAnim>h2 strong {
  font-weight: 500 !important;
}