.heroSection {
  /* position: 'relative';

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s ease; */

}

.button {
  background: linear-gradient(to right, #00B7FF, #9308FF);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

.buttonReverse {
  background: linear-gradient(to right, #00B7FF, #9308FF);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

.heroBox {
  /*
  position: absolute;
  width: 450px;
  left: 100px;
  top: 200px;
  z-index: 99;
  opacity: 0;
  transition: opacity 1.5s ease; */
}

.heroTitle {
  font-family: 'stolzl', sans-serif;
  font-weight: 500;
  font-size: 50px;
  opacity: 0;
}

.heroSubtitle {
  opacity: 0;
}

.heroBox p {
  font-family: 'stolzl', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.heroBox p strong {
  font-weight: 400;
  font-size: 16px;
}

.heroBox button {
  font-family: 'stolzl', sans-serif;
  max-width: 200px;
  text-transform: capitalize;
  padding: 10px 20px;
  opacity: 0;
}

.parrallaxBg {
  width: 120%;
  height: 100vh;
  object-fit: cover;
}

.night {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.parrallax {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.parrallaxbg {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


/* .night {
  background: #ff0000;

  width: 100vw;
  left: 100vh;
  z-index: 998;

} */

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.mountain1 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 2;
  bottom: 0
}

.mountain2 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 3;
  bottom: 0
}

.mountain3 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 4;
  bottom: 0
}

.mountain4 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 5;
  bottom: 0
}

.mountain5 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 6;
  bottom: 0
}

.mountain6 {
  width: 100%;
  /* top: 500;
  left: 200; */
  z-index: 7;
  bottom: 0
}

.lensCenter {
  position: absolute;
  z-index: 1;
  width: 40vmin;
  height: 40vmin;
  border-radius: 100%;

  background: radial-gradient(closest-side circle at center,
      hsl(40 50% 85% / 100%) 0%,
      hsl(40 50% 85% / 100%) 15%,
      hsl(40 60% 70% / 70%) 30%,
      hsl(40 30% 50% / 30%) 55%,
      hsl(40 20% 30% / 10%) 75%,
      transparent 99%);
  filter: blur(5px);
  /* Adjust blur value to your preference */
}

.lens-center::before {
  content: '';
  display: block;
  width: 80vmin;
  height: 80vmin;
  left: calc((80vmin - 40vmin) / 2 * -1);
  top: calc((80vmin - 40vmin) /2 * -1);
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(closest-side circle at center,
      hsl(40 70% 70% / 15%) 0%,
      transparent 100%);
}

.lens-center::after {
  content: '';
  display: block;
  width: 4vmin;
  height: 4vmin;
  left: 65%;
  bottom: 25%;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(closest-side circle at center,
      hsl(40 60% 70% / 60%) 0%,
      transparent 75%);
}

/* .sunHolder {
  position: absolute;
  left: calc(72% - (40vmin / 2));
  top: calc(28% - (40vmin / 2));
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: sun 7s cubic-bezier(0.42, 0, 0.58, 1) 1;
}


@keyframes sun {
  0% {
    left: calc(70% - (40vmin / 2));
    top: calc(45% - (40vmin / 2));
  }



  100% {
    left: calc(72% - (30vmin / 2));
    top: calc(28% - (30vmin / 2));
  }
} */

@media (max-width:600px) {
  .sunHolder {
    position: absolute;
    left: calc(68% - (40vmin / 2));
    top: calc(40% - (40vmin / 2));
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: sun 2s cubic-bezier(0.42, 0, 0.58, 1) 1;
  }


  @keyframes sun {
    0% {
      left: calc(68% - (40vmin / 2));
      top: calc(58% - (40vmin / 2));
    }



    100% {
      left: calc(68% - (40vmin / 2));
      top: calc(40% - (40vmin / 2));
    }
  }
}