.clearButton {
  border: 2px solid #FFF;
  border-radius: 40px;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
  max-width: 350px;
}

.separator {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #0CDEFF, #9308FF);
}



.linksSection ul {}

.linksSection li {
  font-size: 13px;
  list-style: none;
  margin-bottom: 5px;
  font-weight: 400;
  list-style: none;
}

.linksSection h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 200;
}

.linksSection a {
  color: #fff;
  text-decoration: none;
}

.legalText {
  margin-top: 20px;
  font-size: 12px !important;
}

.legalText p {
  color: #777684;
  font-size: 12px !important;
}


.legalLinks {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.legalLinks ul {
  display: flex;
}

.legalLinks li {
  font-size: 14px;
  list-style: none;
}

.legalLinks a {
  color: #fff
}