.fadingMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  max-width: 90vh;
  top: 40%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-weight: 200 !important;
  font-size: 3.0rem;
}


.messageAnim h2 strong {
  font-weight: 800 !important;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}