.ants {
  display: block;
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.rect,
.path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 4px;
  animation: stroke 0.2s linear infinite;
  shape-rendering: geometricPrecision;
  stroke-dashoffset: 8px;
  /* stroke="#333"
    stroke-width="10"
    stroke-dasharray="5,5"
    stroke-dashoffset="0" */
}

.rect {
  stroke-width: 2px;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}