.flywheelBox {

  transition: opacity 0.5s ease-in-out;

}

.head {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}

.contentBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 40px;
  width: 100%;
}

.heading {
  opacity: 0;
  position: absolute;
}

.heading#heading1 {
  opacity: 1;
  color: yellow;
}